spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: authuser
    password: authpass
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${OAUTH_GITHUB_CLIENT_ID:}
            client-secret: ${OAUTH_GITHUB_CLIENT_SECRET:}
            redirect-uri: "{app.magic-link.base-url}/login/oauth2/code/github"
            scope: [user:email]
app:
  magic-link:
    base-url: http://localhost:8080
