spring:
  application:
    name: UserManagementAPI
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: ${MAIL_HOST:maildev}
    port: ${MAIL_PORT:1025}
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false
  security:
    oauth2:
      client:
        registration: {}
  rabbitmq:
    host: ${RABBITMQ_HOST:rabbitmq}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
  elasticsearch:
    # La propriété standard moderne est 'uris'
    uris: http://${ELASTICSEARCH_HOST:elasticsearch}:${ELASTICSEARCH_PORT:9200}

memcached:
  port: ${MEMCACHED_PORT:11211}
  host: ${MEMCACHED_HOST:memcached}
jwt:
  expiration: ${JWT_EXPIRATION:3600000}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:604800000}
management:
  endpoints:
    web:
      exposure:
        include: health,info, metrics,loggers
  endpoint:
    health:
      show-details: always
      show-components: always

server:
  port: ${SERVER_PORT:8080}
  address: 0.0.0.0
  forward-headers-strategy: framework
app.frontend.url: http://localhost



