spring:
  profiles:
    active: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate

  security:
    jwt: ${JWT_SECRET}
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH_GOOGLE_CLIENT_SECRET}
            redirect-uri: "{app.magic-link.base-url}/login/oauth2/code/google"
            scope: [openid, profile, email]
          facebook:
            client-id: ${OAUTH_FACEBOOK_CLIENT_ID}
            client-secret: ${OAUTH_FACEBOOK_CLIENT_SECRET}
            redirect-uri: "{app.magic-link.base-url}/login/oauth2/code/facebook"
            scope: [email, public_profile]
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}

app:
  magic-link:
    base-url: ${APP_BASE_URL}
memcached:
  host: ${MEMCACHED_HOST}
rabbitmq:
  host: ${RABBITMQ_HOST}
  port: ${RABBITMQ_PORT}
  username: ${RABBITMQ_USER}
  password: ${RABBITMQ_PASSWORD}
elasticsearch:
  uris: http://${ELASTIC_HOST}:${ELASTIC_HTTP_PORT}
  username: ${ELASTIC_USERNAME}
  password: ${ELASTIC_PASSWORD}
logging:
  file:
    name: /var/log/usermanagement/app.log
  level:
    root: INFO
    org.springframework: WARN
    com.example.usermanagement: INFO
